@mixin sample() {
    color: red;
    font-weight: bold;
}
body {
    text-align: center;
    font-family: 'Arial';
    h1 {
        @include sample();
        text-shadow: 1px 1px (5px - 1px) rgb(171, 31, 31);
    }
}
